header {
  background-color: #031033;
  color: #fff;
  position: fixed;
  top: 0;
  z-index: 5;
  width: 100%;
  padding-top: 32px;
}
header .header_container {
  max-width: 1400px;
  margin-inline: auto;
  display: flex;
  height: 60px;
  align-items: center;
  padding: 0 16px;
  /* background-color: #0a193b; */
}
header .header_container .header_logo {
  height: 40px;
  width: auto;
}
header .header_container .header_menu_wrapper {
  flex: 1;
}
header .header_container .header_menu_wrapper ul {
  display: flex;
  max-width: 70%;
  margin-left: auto;
  justify-content: space-around;
  list-style: none;
}
header .header_container .header_menu_wrapper ul li {
  text-transform: uppercase;
}
header .header_container .language-switcher select {
  background-color: #031033;
  outline: none;
  border: none;
  color: white;
  text-transform: uppercase;
  font-size: 16px;
}

.current_page_item,
.current-menu-item {
  border-bottom: 2px solid #3498db;
}

footer {
  background-color: #031033;
  color: #fff;
  padding-block: 32px;
}
footer img {
  display: block;
  height: 32px;
  width: auto;
  margin-inline: auto;
}
footer .menu {
  display: flex;
  gap: 32px;
  justify-content: center;
}

.post-cards__wrapper {
  margin-inline: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
  max-width: 1240px;
  padding-bottom: 64px;
}
.post-cards__wrapper .post-card {
  /* margin: auto; */
  width: 370px;
  height: 440px;
  border: solid 1px #21365b;
  background-color: #ffffff;
  border-bottom: solid 3px #3498db;
  position: relative;
  box-shadow: 0px 0px 16px 4px rgba(66, 68, 90, 0.1);
  border-radius: 4px;
  position: relative;
}
.post-cards__wrapper .post-card .post-card__header {
  padding-top: 24px;
  padding-inline: 24px;
}
.post-cards__wrapper .post-card .post-card__header .post-card__category {
  text-transform: uppercase;
  font-size: 16px;
}
.post-cards__wrapper .post-card .post-card__header .post_card__date {
  font-weight: 200;
  font-size: 16px;
}
.post-cards__wrapper .post-card .post-card__header .post_card__date .dashicons {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 0.5em;
}
.post-cards__wrapper .post-card .post-card__header .post-card__author {
  font-size: 16px;
}
.post-cards__wrapper .post-card .post-card__header .post-card__title {
  font-size: 22px;
  font-family: "Merriweather", serif;
  line-height: 1.2em;
  max-height: 6em;
  overflow: hidden;
  margin-bottom: 10px;
  position: relative;
  text-wrap: balance;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-top: 10px;
}
.post-cards__wrapper .post-card .post-card__image--wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 205px;
}
.post-cards__wrapper .post-card .post-card__image--wrapper .post-card__image--picture {
  width: 100%;
  /* object-fit: cover; */
  height: inherit;
}

.content-container h1,
.content-container h2,
.content-container p {
  margin-block: 0;
}
.content-container > p {
  font-weight: 600;
  margin-left: 3rem;
  padding-top: 32px;
}

h2.post_title {
  font-family: "Merriweather", serif;
  font-size: 40px;
  text-wrap: balance;
  max-width: 1200px;
  background-color: aliceblue;
  margin-left: 3rem;
  margin-top: 8px;
  margin-bottom: 32px;
}

.post_content {
  max-width: 70ch;
  margin-left: 3rem;
}
.post_content h2 {
  font-family: "Merriweather", serif;
  margin-block-start: 48px;
  margin-bottom: 16px;
  font-size: 24px;
}
.post_content p {
  line-height: 1.6;
  font-size: 18px;
  -webkit-hyphens: auto;
          hyphens: auto;
}
.post_content > p:nth-child(n+2):first-letter {
  float: left;
  font-family: "Merriweather", serif;
  font-size: 8.4em;
  font-style: normal;
  font-weight: 100;
  line-height: 0.68;
  margin: 0.05em 0.1em 0 0;
  text-transform: uppercase;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", serif;
  color: #031033;
  margin-top: 92px;
  margin-bottom: 100px;
}
body hr {
  border-color: rgba(245, 245, 245, 0.5176470588);
}
body ul {
  list-style: none;
}
body a {
  color: inherit;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}

.content-container {
  max-width: 1400px;
  margin-inline: auto;
}
.content-container a:hover {
  text-decoration: underline;
}

.section-header {
  padding: 0 0 8px 32px;
}

.pagination {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: -32px;
  padding-bottom: 48px;
}
.pagination .current {
  font-weight: 600;
}/*# sourceMappingURL=main.css.map */