@use "sass:map";
@use "../../sass/variables";

.bold-paragraph {
  font-family: variables.$font-serif;
  font-weight: map.get(variables.$font-weights, bold);
  font-size: map.get(variables.$font-sizes, large) !important;
  padding-bottom: map.get(variables.$spacing-scale, md);
}
